body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: #F9FAF8;
}

h1{
    font-size: 48px;
    font-weight: 900;
}

.score{
    display: flex;
    justify-content: space-around;
    gap: 50px;    
    align-items: center;
    width: 100%;
    margin: 0 20px;
}

.score div{
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 32px;
}

.score div img{
    height: 300px;
    width: 400px;
    border-radius: 20px;   
}

.result{
    color:#3882f6;
    width: 100%;
    min-height: 50px;    
    font-size: 2em;
}

.choices{
    margin-bottom: 30px;
}


button{    
    font-size: large;
    border-radius: 10px;
    margin: 0 30px;
    padding: 10px 30px;
    background-color: #3882f6;
    border: 0;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 800;
}

p{    
    width: 100%;
    min-height: 50px;    
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;    
}



